<div class="col-xs-4">
  <div class="program-header">
    <%= image_tag program.cover_photo.url, hight: 160 %>
  </div>
  <div class="program-content">
    <h4 class="text-center"><%= program.name %></h4>
    <table>
      <tbody>
      <tr>
        <td>
          PRICE
        </td>
        <td>
          DIFFICULTY
        </td>
        <td>
          RATING
        </td>
      </tr>
      <tr>
        <td>
          <%= "$#{program.price}" %>
        </td>
        <td>
          <span class="difficulty-<%= program.difficulty %>"></span>
        </td>
        <td style="padding-right: 27px;">
          <%= program.rating %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
