<div class="col-xs-3">
  <div class="program-holder">
    <%= link_to result do %>
    <div class="program-header", style="background-image: url(<%= image_path(result.cover_photo.url) %>);"></div>
    <div class="program-content">
      <h4 class="text-center"><%= result.name %></h4>
      <table>
        <tbody>
        <tr>
          <td>
            PRICE
          </td>
          <td>
            DIFFICULTY
          </td>
          <td>
            RATING
          </td>
        </tr>
        <tr>
          <td>
            <%= "$#{result.price}" %>
          </td>
          <td>
            <span class="difficulty-<%= result.difficulty %>"></span>
          </td>
          <td style="padding-right: 27px;">
            <%= result.rating.try(:round, 2) %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
