<div class="container text-center" style="margin-bottom: 12px;">
  <h2 class="font-30">90 Day Extreme Fat Loss</h2>
  <p class="font-18">For beginners and intermediates. Doesn’t require any equipment.</p>
  <span class="difficulty-<%= @program.difficulty %>"></span> <span class="font-18">(<a href="#" class="link-color">4,480</a>)</span>
</div>
<div class="container-fluid individual-program-overview ">
  <div class="container" style="margin-top: 20px;">
    <div class="col-xs-12 col-sm-8">

    </div>
    <div class="col-xs-12 col-sm-3" id="pitch" >
      <!-- TODO needs to be replace with button_to after a checkout page is created -->
      <%= button_tag "Buy for $#{@program.price}", class: 'font-24 standard-button center-block' %>
      <p><%= image_tag 'heart.png' %><span>30 day money back guarantee!</span></p>
      <p><%= image_tag 'infinity-small.png' %><span>Lifetime access, no exceptions!</span></p>
      <div class="line-divider col-xs-12"></div>
      <!-- replace with trainer name, profile picture, bio, and link to user profile-->
      <div class="text-center margin-bottom15">
        <%= image_tag 'golden-cup.png', class: 'user-thumbnail' %> <h5>Alex Morgan</h5>
      </div>
      <p>Alex Morgan is a soccer player and olympic gold medalist. She is the 6th and youngest US soccer player to score 20 goals in a year. US soccer athlete of the year and FIFA world player of year finalist. See profile
        <%= link_to 'See Profile' %>
      </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" id="overview">
      <h2 class="text-center font-25"> Program Overview</h2>
      <p class="font-17">This program will get your body in FAT BURNING mode, speed up your metabolism and get processed foods out of your system! I will guide you through setting your personal goals, figuring out what foods to eat and how much, as well as workouts that will kick your butt into shape! After years as a professional athlete, I’ve combined some of the best principles that have worked for me and other elite athletes.

        Whether you are a current athlete, haven’t worked out in a while or are a beginner, all levels will benefit from learning how to get your body moving in an entirely new way. My method of movement is probably different to what y... See full overview </p>
    </div>
  </div>
</div>
