<div class="container text-center" style="margin-bottom: 12px;">
  <h2 class="font-30">90 Day Extreme Fat Loss</h2>
  <p class="font-18">For beginners and intermediates. Doesn’t require any equipment.</p>
  <span class="difficulty-easy"></span> <span class="font-18">(<a href="#" class="link-color">4,480</a>)</span>
</div>
<div class="container-fluid individual-program-overview ">
  <div class="container" style="margin-top: 20px;">
    <div class="col-xs-12 col-sm-8">

    </div>
    <div class="col-xs-12 col-sm-4" id="pitch" >
      <!-- TODO needs to be replace with button_to after a checkout page is created -->
      <%= button_tag 'Buy for $xx.xx', class: 'font-24 standard-button center-block' %>
      <div class="col-xs-10"><%= image_tag 'heart.png' %><span>30 day money back guarantee!</span></div>
      <div class="col-xs-10"><%= image_tag 'infinity-small.png' %><span>Lifetime access, no exceptions!</span></div>
      <div class="line-divider col-xs-12"></div>
      <!-- replace with trainer name, profile picture, bio, and link to user profile-->
      <%= image_tag 'golden-cup.png' %> <h5>Alex Morgan</h5>
      <p>Alex Morgan is a soccer player and olympic gold medalist. She is the 6th and youngest US soccer player to score 20 goals in a year. US soccer athlete of the year and FIFA world player of year finalist. See profile
        <%= link_to 'See Profile' %>
      </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="text-center font-25"> Program Overview</h2>
      <p class="font-18"></p>
    </div>
  </div>
</div>