<div class="container-fluid background-color">
  <div class="pad-40"></div>
  <div class="container"> 
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 profile-settings">
      <div class="col-md-3 profile-settings-menu ">
        <%= image_tag avatar_url(@user, 120), alt: '', class: "img-circle avatar avatar-original text-center", size: '120' %>
        <ul class="nav nav-stacked" role="tablist" id="myTab">
          <li role="presentation" class="active"><a href="#profile" aria-controls="edit" role="tab" data-toggle="tab">Edit Profile</a></li>
          <li role="presentation"><a href="#program" aria-controls="program" role="tab" data-toggle="tab">Recommend a program</a></li>
          <li role="presentation"><a href="#credit" aria-controls="credit" role="tab" data-toggle="tab">Update Credit Card</a></li>
          <li role="presentation"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">Change Password</a></li>
        </ul>             
      </div>
      <div class="col-md-9 profile-settings-content">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="profile">
            <%= render 'form' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="program">
            <h1>Help us suggest the best programs. Trainers can view this info.</h1>
            <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
              <%= f.input :fitness_level %>
              <%= f.input :equipment_access, label: 'Access to equipment' %>
              <%= f.input :ideal_session, label: 'Ideal time / session' %>
              <%= f.input :goal %>
              <%= f.button :submit, 'Save', class: 'standard-button' %>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="credit">
            <h1>Update your credit card info.</h1>
            <%= render 'credit_cards/form' %>
          </div><div role="tabpanel" class="tab-pane" id="password">
            <h1>Change Password</h1>
            <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
              <%= f.input :password %>
              <%= f.input :password_confirmation %>
              <%= f.button :submit, 'Save', class: 'standard-button'%>
            <% end %>
          </div>
        </div>
        <div class="col-md-12">
            <%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Profile'.html_safe, @user, class: 'btn btn-default pull-right' %>
        </div>  
        <div class="pad-40"></div>
      </div>  
    </div>
  </div>
  <div class="pad-40"></div>
</div>
