<%= simple_form_for @subscription, url: @subscription.new_record? ? user_subscriptions_path(@user) : user_subscription_path(@user, @subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, as: "hidden" %>
    <%= f.association :program %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
