<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag "logo.png", class: 'main-logo' %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'ALL PROGRAMS', programs_path %></li>
        <% if user_signed_in? %>  <!-- TODO need to replace with current_user method -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <%= image_tag avatar_url(current_user), alt: '', class: "img-circle", size: '24' %>
                <%= current_user.name%>
                <span class="fa fa-chevron-down"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'My Programs'.html_safe, current_user %></li>
                <li><%= link_to 'Settings'.html_safe, edit_user_path(current_user) %></li>
                <li><a href="#">Credits</a></li>
                <% if current_user.trainer? %>
                  <li><%= link_to 'Trainer panel'.html_safe, edit_trainer_path(current_user.id) %></li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to 'Sign Out'.html_safe, destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% else %>
          <li><%= link_to 'SIGN IN'.html_safe, user_session_path, class: "blue-font" %></li>
        <%  end %>

      </ul>
    </div>
  </div>
</nav>
