<!DOCTYPE html>
<html>
<head>
  <title>Bodyplan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'application/header' %>
  <div id="wrapper">
    <div class="container-fluid">
      <div class="col-xs-12 notification-header">
        <%= render 'application/flash_alerts' %>
      </div>
    </div>
  </div>

<%= yield %>

<%= render 'application/footer' %>
</body>
</html>
