<!DOCTYPE html>
<html>
<head>
  <title>Bodyplan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    
    <div class="container-fluid">
      <div class="col-xs-12 notification-header">
        <%= render 'application/flash_alerts' %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>

    </div>
  </div>

</body>
</html>
